<app-layout>

    <div class="container tab-container p-5">

      <form [formGroup]="reportForm">
        <div class="row mt-3">
          <div class="mb-3 col-md-4">
            <label class="form-label">Class <span class="error">*</span></label>
         
            <select class="form-select" formControlName="studentClass" (change)="onChangeClass($event)">
              <option disabled value="select">Select</option>
              <option *ngFor="let sec of classes" [value]="sec._id">{{sec.className}}</option>
            </select>
            <div *ngIf="reportForm.controls['studentClass'].invalid && (reportForm.controls['studentClass'].dirty || reportForm.controls['studentClass'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['studentClass'].errors['required']">
              Class is required.
            </div>
          </div></div>
    
          <div class="mb-3 col-md-4">
            <label class="form-label">Section <span class="error">*</span></label>
          
            <select class="form-select" formControlName="section">
              <option disabled value="select">Select</option>
              <option *ngFor="let sec of sections" [value]="sec._id">{{sec.name}}</option>
            </select>
            <div *ngIf="reportForm.controls['section'].invalid && (reportForm.controls['section'].dirty || reportForm.controls['section'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['section'].errors['required']">
              Section is required.
            </div>
          </div>
          </div>
          <div class="mb-3 col-md-4">
            <label class="form-label">Year <span class="error">*</span></label>
            <select class="form-select" formControlName="academicYear">
              <option disabled value="select">Select</option>
              <option *ngFor="let year of aceYear" [value]="year._id">{{year.name}}</option>
            </select>
            <div *ngIf="reportForm.controls['academicYear'].invalid && (reportForm.controls['academicYear'].dirty || reportForm.controls['academicYear'].touched)"
            class="error mt-2">
            <div *ngIf="reportForm.controls['academicYear'].errors['required']">
              Year is required.
            </div></div>
          </div>
        </div>
       
      <div class="text-end mb-5">
        <button class="btn" (click)="callReport(reportForm)"  [disabled]="!reportForm.valid">Filter</button>
      </div>
    </form>
    <p class="table-heading"> Student List</p>
    <table class="table mt-3">
      <thead>
        <tr>
          <th scope="col">Photo</th>
            <th scope="col" style="width:110px;">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Section</th>
            <th scope="col">Register No</th>
            <th scope="col">Roll</th>
            <th scope="col">DOB</th>
            <th scope="col">Guardian Name</th>
            <th scope="col">Fees Pregress</th>
            <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let student of studentData; let i = index">
          <tr>
          <td>  <img class="image" [src]="student?.image? student.image: 'assets/images/no-profile.jpg'"
            alt=""></td>
          <td>{{student.firstName + " " + student.lastName}}</td>         
          <td>{{student.class}}</td>
          <td>{{student.section}}</td>
          <td>{{student.registerNo}}</td>
          <td>{{student.rollNo}}</td>
          <td>{{student.dob | date :"MM/dd/yyyy"}}</td>
          <td>{{student.guardian.firstName}}</td>
          <td><div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <span>0%</span>
            </div>
          </div></td>
          <td>
            <button class="btn emp-edit me-1" (click)="openQuickModal(quicktemplate, student)"><i class="fa-solid fa-grip"></i></button>
            <button class="btn emp-edit me-1" (click)="editClick(student)"><i class="fa-regular fa-circle-right"></i></button>
          <!-- <button class="btn emp-edit ms-1" (click)="openDeleteModal(deletemplate, student)"><i class="fa-solid fa-trash-can"></i></button>-->
          </td>
        </tr>
        </ng-container>
      </tbody>
    </table>


    </div>
</app-layout>
<ng-template #quicktemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Quick View</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="profile text-center">
        <img class="img-fluid" [src]="studentSelRow.image? studentSelRow.image : 'assets/images/no-profile.jpg'" alt="">
        <h4 class="my-2">{{studentSelRow.firstName + " " + studentSelRow.lastName}}</h4>
        <p>Student / {{studentSelRow.caste}}</p>
      </div>
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <th>Register No</th>
            <td>{{studentSelRow.registerNo}}</td>
            <th>Roll</th>
            <td>{{studentSelRow.rollNo}}</td>
          </tr>
          <tr>
            <th>Admission Date</th>
            <td>{{studentSelRow.admissionDate | date}}</td>
            <th>Date Of Birth</th>
            <td>{{studentSelRow.dob}}</td>
          </tr>
          <tr>
            <th>Blood Group</th>
            <td>{{studentSelRow.bloodGroup}}</td>
            <th>Religion</th>
            <td>{{studentSelRow.religion}}</td>
          </tr>
          <tr>
            <th>Email</th>
            <td colspan="3">{{studentSelRow.email}}</td>
          </tr>
          <tr>
            <th>Mobile No</th>
            <td>{{studentSelRow.number}}</td>
            <th>State</th>
            <td>{{studentSelRow.state}}</td>
          </tr>
          <tr>
            <th>Address</th>
            <td colspan="3">{{studentSelRow.presentAddress}}</td>
          </tr>
        </tbody>
      </table> 
    </div>
       
      <div class="modal-footer mt-4">
          <button type="button" class="save_button btn" (click)="closePopup()">Close</button>
      </div>
  </div>
  
</ng-template>
<ng-template #deletemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
      </div>
    </div>
       
      <div class="modal-footer mt-4">
        <button type="button" class="save_button btn" (click)="deletePopup()">Yes, Continue</button>
        <button type="button" class="save_button btn" (click)="closePopup()">Cancle</button>
      </div>
  </div>
</ng-template>
