<div class="row">
    <div class="col-md-4">
        <span class="lbl-txt">IdCard Document</span>
        <img [src]="idcard? idcard: 'assets/images/no-profile.jpg'" width="200" class="img-thumbnail">
    </div>
    <div class="col-md-4">
        <span class="lbl-txt">Guardian Image</span>
        <img [src]="guardianImg? guardianImg: 'assets/images/no-profile.jpg'" width="200" class="img-thumbnail">
    </div>
    <div class="col-md-4">
        <span class="lbl-txt">Guardian Document</span>
        <img [src]="guardianDocu? guardianDocu: 'assets/images/no-profile.jpg'" width="200" class="img-thumbnail">
    </div>
</div>