<app-layout>
  <div class="container p-4">
    <div class="tab-container">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Call Log List">
          <div class="pt-4">
            <div class="top-options">
              <div class="search-area">
                <div class="input-group pe-3">
                  <input type="search" class="form-control" placeholder="Search here...">
                  <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
                <div class="options">
                  <button class="btn"><img src="assets/icons/opt-copy.svg"></button>
                  <button class="btn"><img src="assets/icons/opt-excel.svg"></button>
                  <button class="btn"><img src="assets/icons/opt-pdf.svg"></button>
                  <button class="btn"><img src="assets/icons/opt-sheet.svg"></button>
                  <button class="btn"><img src="assets/icons/opt-print.svg"></button>
                </div>
              </div>
            </div>

            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">SL</th>
                  <th scope="col">Name</th>
                  <th scope="col">Mobile No.</th>
                  <th scope="col">Calling Purpose</th>
                  <th scope="col">Call Type</th>
                  <th scope="col">Date</th>
                  <th scope="col">Start Time</th>
                  <th scope="col">End Time</th>
                  <th scope="col">Follow up</th>
                  <!-- <th scope="col">Duration</th> -->
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let call of callLogs; index as i">
                  <td>{{i+1}}</td>
                  <td>{{call.name}}</td>
                  <td>{{call.mobileNo}}</td>
                  <td>{{call.purpose}}</td>
                  <td>{{call.callType}}</td>
                  <td>{{call.date}}</td>
                  <td>{{call.timeSlotFrom}}</td>
                  <td>{{call.timeSlotTo}}</td>
                  <td>{{call.followUpDate}}</td>
                  <!-- <td>2</td> -->
                  <td>
                    <button class="btn emp-edit me-1" data-bs-toggle="modal" data-bs-target="#editPrompt"
                    (click)="setCall(call)">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                  <button class="btn emp-edit ms-1" data-bs-toggle="modal" data-bs-target="#deletePrompt"
                    (click)="selectedcall=call;">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Add Call Log">
          <form [formGroup]="callLogForm" (ngSubmit)="addCallLog()">
          <div class="my-5">
            <div class="mb-3">
              <label class="form-label">Call Type *</label>
              <input type="text" formControlName="callType" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Calling Purpose *</label>
              <input type="text" formControlName="purpose" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Name *</label>
              <input type="text" formControlName="name" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Mobile No. *</label>
              <input type="text" formControlName="mobileNo" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Date</label>
         

         <div class="input-group flex-nowrap">
            
          <input type="text" class="date-picker-input" [matDatepicker]="picker1"
            (click)="picker1.open()" formControlName="date">
        </div>
        <mat-datepicker #picker1></mat-datepicker>
   

<!-- 
         <input [matDatepicker]="picker" class="date-picker-input" (click)="picker.open()" formControlName="date">
         <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span> -->
            </div>

            <div class="row mb-3">
              <label class="form-label">Time Slot To</label>
              <div class="col-4">
                <!-- <input type="text" formControlName="timeSlotTo" class="form-control"> -->
                <input class="form-control" [ngxTimepicker]="fullTime" [format]="24" readonly formControlName="timeSlotTo">
                <ngx-material-timepicker #fullTime></ngx-material-timepicker>
              </div>
              <div class="col-4 offset-4">
              <label class="form-label">Time Slot From</label>

                <!-- <input type="text" formControlName="timeSlotFrom" class="form-control"> -->

                <input class="form-control" [ngxTimepicker]="fullTime1" [format]="24" readonly formControlName="timeSlotFrom">
                <ngx-material-timepicker #fullTime1></ngx-material-timepicker>
              </div>
            </div>

            <div class="mb-3">
              <label class="form-label">Follow up Date</label>
       
            <div class="input-group flex-nowrap">
            
              <input type="text" class="date-picker-input" [matDatepicker]="picker2"
                (click)="picker2.open()" formControlName="followUpDate">
            </div>
            <mat-datepicker #picker2></mat-datepicker>
       

    
            </div>


            <div class="mb-3">
              <label class="form-label">Note</label>
              <textarea class="form-control" formControlName="note" rows="5"></textarea>
            </div>
          </div>

          <div class="text-end mb-3">
            <button class="btn" [disabled]="isLoading || !callLogForm.valid">
              <span *ngIf="isLoading" class="spinner-border text-light"></span>
              <span *ngIf="!isLoading">Save</span>
            </button>
          </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-layout>



<!---Modal for Edit enq---->
<div class="modal fade" id="editPrompt">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Designation</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="editCall">
          <div class="mb-3">
            <label class="form-label"> callType *</label>
            <input type="text" class="form-control" formControlName="callType">
          </div>
          <div class="mb-3">
            <label class="form-label"> purpose *</label>
            <input type="text" class="form-control" formControlName="purpose">
          </div>
           <div class="mb-3">
            <label class="form-label"> name *</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
           <div class="mb-3">
            <label class="form-label"> mobileNo *</label>
            <input type="text" class="form-control" formControlName="mobileNo">
          </div>
           <div class="mb-3">
            <label class="form-label"> date *</label>
            <input type="text" class="form-control" formControlName="date">
          </div>
           <div class="mb-3">
            <label class="form-label"> timeSlotTo *</label>
            <input type="text" class="form-control" formControlName="timeSlotTo">
          </div>
           <div class="mb-3">
            <label class="form-label"> timeSlotFrom *</label>
            <input type="text" class="form-control" formControlName="timeSlotFrom">
          </div> 
          <div class="mb-3">
            <label class="form-label"> followUpDate *</label>
            <input type="text" class="form-control" formControlName="followUpDate">
          </div>
        <!-- </div>  -->
        <div class="mb-3">
          <label class="form-label"> note *</label>
          <input type="text" class="form-control" formControlName="note">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="editModalDismissBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <!-- <button type="button" class="btn btn-danger" [disabled]="isLoading || !editEnq.valid" (click)="updateEnq()">
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Update</span>
        </button> -->
        <button (click)="updateEnq()"> Update</button>
      </div>
    </div>
  </div>
</div>


<!-- -Modal for delete-- -->
<div class="modal fade" id="deletePrompt">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Call</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this Call?</p>
      </div>
      <div class="modal-footer">
        <button id="modalDismissBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" [disabled]="isLoading" (click)="delete()">
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>