<app-layout>
  <div class="container tab-container p-4">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Assign List">
        <div class="pt-4">
          <div class="top-options">
            <div class="search-area">
              <div class="input-group pe-3">
                <input type="search" class="form-control" placeholder="Search here...">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
              </div>
              <div class="options">
                <button class="btn"><img src="assets/icons/opt-copy.svg"></button>
                <button class="btn"><img src="assets/icons/opt-excel.svg"></button>
                <button class="btn"><img src="assets/icons/opt-pdf.svg"></button>
                <button class="btn"><img src="assets/icons/opt-sheet.svg"></button>
                <button class="btn"><img src="assets/icons/opt-print.svg"></button>
              </div>
            </div>
          </div>
          <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">SL</th>
                <th scope="col">Class</th>
                <th scope="col">Section</th>
                <th scope="col">Subject</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>#001234</td>
                <td>Six</td>
                <td>A</td>
                <td>A</td>
                <td>
                  <button class="btn emp-edit me-1"><i class="fa-solid fa-pencil"></i></button>
                  <button class="btn emp-edit ms-1"><i class="fa-solid fa-trash-can"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>

      <mat-tab label="Assign">
        <form [formGroup]="classAssignForm"  (ngSubmit)="AssignClassTeacher()">
        <div class="row mt-5 mb-3">
        
          <div class="col-3">
        
            <label class="form-label">Academic Year *</label>
            <select class="form-select" formControlName="academicYear">
              <option disabled value="select">Select</option>
              <!-- <option *ngFor="let stud of students" ></option> -->
              <option *ngFor="let stud of academics" [value]="stud._id" >{{stud.academicYear}}</option>

            </select>
          </div>
          <div class="col-3">
        
            <label class="form-label">Class *</label>
            <select class="form-select" formControlName="studentClass">
              <option disabled value="select">Select</option>
              <option *ngFor="let sec of classes" [value]="sec._id">{{sec.className}}</option>
            </select>
          </div>
          <div class="col-3 ">
            <label class="form-label">Section *</label>
            <select class="form-select" formControlName="section">
              <option disabled value="select">Select</option>
              <option *ngFor="let sec of sections" [value]="sec._id">{{sec.name}}</option>
            </select>
          </div>
        </div>

        <!-- <div class="row mt-5 mb-3"> -->
          <div class="col-3">
            <label class="form-label">Subject *</label>
     
<!-- 
            <ng-select  style="border-color: aqua;" [multiple]="true">
              <ng-option  class="selectbox" formControlName="subjects"
               placeholder="Select subjects" 
               *ngFor="let sec of subjects"
               bindValue="_id"
                [value]="sec.id">{{sec.subjectName}}</ng-option>
           </ng-select> -->
           <mat-form-field appearance="fill">
            <mat-label>Select Subjects</mat-label>
            <mat-select formControlName="subjects" multiple>
              <mat-option *ngFor="let sec of subjects" [value]="sec._id">{{sec.subjectName}}</mat-option>
            </mat-select>
          </mat-form-field>

        
          </div>
        <!-- </div> -->
        <div class="text-end mb-5">
          <button class="btn">Save</button>
        </div>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-layout>
