<app-layout>
  <div class="container p-4">
    <div class="tab-container">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Template List">
          <div class="pt-4">
            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">SL</th>
                  <th scope="col">Name</th>
                  <th scope="col">Body</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>#001234</td>
                  <td>Max ABC</td>
                  <td></td>
                  <td>
                    <button class="btn emp-edit me-1"><i class="fa-solid fa-pencil"></i></button>
                    <button class="btn emp-edit ms-1"><i class="fa-solid fa-trash-can"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Create Template">
          <div class="my-5">
            <div class="mb-3">
              <label class="form-label">Name *</label>
              <input type="text" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Message *</label>
              <textarea class="form-control" rows="10"></textarea>
            </div>

            <div class="text-end mb-5">
              <button class="btn">Send</button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-layout>
