<app-layout>
  <div class="container p-5">
      <div class="mb-4">
          <div class="subjects-cont mt-3">
            <div class="f-heading sub-heading">
              <h5>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                Classes
              </h5>
            </div>

            <div class="subject-list d-flex">
              <button class="btnA btn-light">
                  <
              </button>
              <button class="btn btn-light">
                1
              </button>

              <button class="btn btn-light">
                2
              </button>

              <button class="btn btn-light">
                3
              </button>

              <button class="btn btn-light">
                4
              </button>

              <button class="btn btn-light">
                5
              </button>
              <button class="btn btn-light">
                  6
                </button>
                <button class="btn btn-light">
                  7
                </button>
                <button class="btn btn-light">
                  8
                </button>
                <button class="btn btn-light">
                  9
                </button>
                <button class="btn btn-light">
                  10
                </button>
                <button class="btn btn-light">
                  11
                </button>
                <button class="btn btn-light">
                  12
                </button>
                <button class="btnA btn-light">
                  >
                </button>
            </div>
          </div>
        </div>
        <!-- sections -->
        <div class="f-heading">
          <h4>
            Sections
          </h4>
        </div>
        <!-- teachers -->
        <div class="sctn-teach row pt-3">
          <div class="col-3 teachOne">
              <div class="teach-infoCard">
                  <div class="teach-topInfo">
                      <div class="teach-imgBox">
                          <img class="img-fluid" src="assets/images/stud-profile.jpg" alt="" />
                      </div>
                      <div class="teach-nameInfo text-end">
                          <h5>Miss Teacher's Name</h5>
                          <p>Class Incharge</p>
                      </div>
                  </div>

                  <div class="teach-profInfoCard">
                    <ul>
                      <li>
                          <p class="teach-profInfo-label">Class</p>
                          <p class="teach-profInfo-txt">7</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Section</p>
                          <p class="teach-profInfo-txt">A</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Total Students</p>
                          <p class="teach-profInfo-txt">47</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Students Fees Unpaid</p>
                          <p class="teach-profInfo-txt">47</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Average Attendance</p>
                          <p class="teach-profInfo-txt">47</p>
                      </li>
                    </ul>
                  </div>


              </div>
          </div>
          <div class="col-3 teachTwo">
              <div class="teach-infoCard">
                  <div class="teach-topInfo">
                      <div class="teach-imgBox">
                          <img class="img-fluid" src="assets/images/stud-profile.jpg" alt="" />
                      </div>
                      <div class="teach-nameInfo text-end">
                          <h5>Miss Teacher's Name</h5>
                          <p>Class Incharge</p>
                      </div>
                  </div>

                  <div class="teach-profInfoCard">
                    <ul>
                      <li>
                          <p class="teach-profInfo-label">Class</p>
                          <p class="teach-profInfo-txt">7</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Section</p>
                          <p class="teach-profInfo-txt">A</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Total Students</p>
                          <p class="teach-profInfo-txt">47</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Students Fees Unpaid</p>
                          <p class="teach-profInfo-txt">47</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Average Attendance</p>
                          <p class="teach-profInfo-txt">47</p>
                      </li>
                    </ul>
                  </div>


              </div>
          </div>
          <div class="col-3 teachThr">
              <div class="teach-infoCard">
                  <div class="teach-topInfo">
                      <div class="teach-imgBox">
                          <img class="img-fluid" src="assets/images/stud-profile.jpg" alt="" />
                      </div>
                      <div class="teach-nameInfo text-end">
                          <h5>Miss Teacher's Name</h5>
                          <p>Class Incharge</p>
                      </div>
                  </div>

                  <div class="teach-profInfoCard">
                    <ul>
                        <li>
                            <p class="teach-profInfo-label">Class</p>
                            <p class="teach-profInfo-txt">7</p>
                        </li>
                        <li>
                            <p class="teach-profInfo-label">Section</p>
                            <p class="teach-profInfo-txt">A</p>
                        </li>
                        <li>
                            <p class="teach-profInfo-label">Total Students</p>
                            <p class="teach-profInfo-txt">47</p>
                        </li>
                        <li>
                            <p class="teach-profInfo-label">Students Fees Unpaid</p>
                            <p class="teach-profInfo-txt">47</p>
                        </li>
                        <li>
                            <p class="teach-profInfo-label">Average Attendance</p>
                            <p class="teach-profInfo-txt">47</p>
                        </li>
                    </ul>
                  </div>


              </div>
          </div>
          <div class="col-3 teachFor">
              <div class="teach-infoCard">
                  <div class="teach-topInfo">
                      <div class="teach-imgBox">
                          <img class="img-fluid" src="assets/images/stud-profile.jpg" alt="" />
                      </div>
                      <div class="teach-nameInfo text-end">
                          <h5>Miss Teacher's Name</h5>
                          <p>Class Incharge</p>
                      </div>
                  </div>

                  <div class="teach-profInfoCard">
                    <ul>
                      <li>
                          <p class="teach-profInfo-label">Class</p>
                          <p class="teach-profInfo-txt">7</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Section</p>
                          <p class="teach-profInfo-txt">A</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Total Students</p>
                          <p class="teach-profInfo-txt">47</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Students Fees Unpaid</p>
                          <p class="teach-profInfo-txt">47</p>
                      </li>
                      <li>
                          <p class="teach-profInfo-label">Average Attendance</p>
                          <p class="teach-profInfo-txt">47</p>
                      </li>
                    </ul>
                  </div>


              </div>
          </div>


        </div>
        <!-- student -->
        <!-- <div class="container border bg-light py-4"> -->
        <div class="students-cont">
          <div class="f-heading students">
            <h4>
              Students
            </h4>
          </div>

          <i class="fa-solid fa-bars"></i>
          <i class="fa-solid fa-border-all"></i>
          <i class="fa-solid fa-filter"></i>

          <div class="input-group">
            <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" class="form-control">
          </div>
        </div>

        <div class="grid-student">
        <div class="row">
          <div class="col-3 border bg-light">
            <div class="stud-info">
                <div class="teach-imgBoxTwo">
                    <img class="img-fluid" src="assets/images/stud-bag.png" alt="" />
                </div>
                <div class="teach-nameInfoTwo">
                  <h5>Radhika</h5>
                  <p>
                    Class : 7 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Section : A
                    <br>
                    Reg No.: XYZ-101
                    <br>
                    Roll No.: 124
                  </p>

                  <div class="mt-1">
                    <div class="attendance">
                      <i class="fa-solid fa-cube"></i>
                      <p>Avg. Att.: 28</p>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</app-layout>
