

<app-layout>

    <div class="container p-5">
        <!-- <div class="py-2 " style="border: solid;"> -->
        <div class="py-2 ">


<div class="col-12">
<div class="row">
  
    <div class="col">
    
        <label class="form-label">Deducted Months *</label>
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-calendar-days"></i></span>
          <input type="text" class="form-control">
        </div>
    
    </div>
   
    <div class="col-12 text-end px-0 pt-4">

        <div class="button pe-5 pt-1 pb-1"><button type="button"
                class="btn button_color">Filter</button></div>

    </div>
</div>
</div>
</div>

<div class="tab-container">
    <div class="pt-4">
    <p class="table-heading "><b>Advanced Salary </b></p>
<!-- <div class="container p-4"> -->
 
<div class="top-options">
    <div class="search-area">
      <div class="input-group pe-3">
        <input type="search" class="form-control" placeholder="Search here...">
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
      <div class="options">
        <button class="btn"><img src="assets/icons/opt-copy.svg"></button>
        <button class="btn"><img src="assets/icons/opt-excel.svg"></button>
        <button class="btn"><img src="assets/icons/opt-pdf.svg"></button>
        <button class="btn"><img src="assets/icons/opt-sheet.svg"></button>
        <button class="btn"><img src="assets/icons/opt-print.svg"></button>
      </div>
    </div>
    </div>
</div>



<!--  -->
<table class="table mt-3 py-4">
<thead>
<tr>
    <th scope="col"> SL</th>

  <th scope="col"> Photo</th>
  <th scope="col">Applicant</th>
  <th scope="col">Deduct Month</th>
  <th scope="col">Applied on    </th>
  <th scope="col"> Created At</th>
  <th scope="col">Status </th>
 
  <th scope="col"> Action  </th>





</tr>
</thead>
<tbody>
<tr>
  <td>#001234</td>
  <td>Fanny Siregar</td>
  <td>General</td>
  <td>111111</td>
  <td>11</td>
  <td>11</td>
  <td><button class="rouded-pill" >  Payment</button></td>
  <td></td>


 



 
</tr>
</tbody>
</table>
</div>

<!--    
<div class="text-end">
    <button class="btn">Save</button>
  </div> -->
      
    </div>



</app-layout>