<app-layout>
  <div class="body_content bg-light pt-5">
    <!-- ************************************************form*********************************************************** -->
        <div class="form_card bg-white pt-3">
          <div class="row">
            <div class="col-12 Student_text"><i class="bi bi-mortarboard-fill mx-2"></i> Student Details <div class="right_line"></div></div>
            <div class="col-12 col-md-5 mt-4">
              <div class="cards_common bg-light">
                <div class="modal-header">
                  <h6 class="modal-title"><i class="bi bi-pencil-square mx-2"></i> Add category </h6>
                </div>
                <form [formGroup]="categoryForm">
                <div class="modal-body bg-white">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Category Name <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" formControlName="categoryName">
                    </div>
                 
                </div>
                <div class="modal-footer">
                  <button type="button" class="save_button btn" (click)="addCategory(categoryForm)" [disabled]="!categoryForm.valid">Save</button>
                </div>
              </form>
              </div>
            
            </div>
            <div class="col-12 col-md-7 mt-4">
              <div class="cards_common bg-light">
                <div class="modal-header">
                  <h6 class="modal-title"><i class="bi bi-card-list mx-2"></i> Category list</h6>
                </div>
                <div class="modal-body bg-white">
                  <table>
                    <tr>
                      <!-- <th>Branch</th> -->
                      <th width="25%">Id</th>
                      <th width="45%">Name</th>
                      <th>Action</th>
                    </tr>
                    <tr *ngFor="let row of categoryData;  let i = index">
                      <td>{{i+1}}</td>
                      <td>{{row.categoryName}}</td>
                      <td>
                        <button class="btn emp-edit me-1" (click)="openModal(template, row)"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn emp-edit ms-1" (click)="openDeleteModal(deletemplate, row)"><i class="fa-solid fa-trash-can"></i></button>
                      </td>
                    </tr>
                    
                  </table>
                </div>
                </div>
            </div>            
          </div>
        </div>
    <!-- *************************************************************************************************** -->

</div>
</app-layout>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Category</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="categoryForm">
      <div class="modal-body bg-white">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Category Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" formControlName="categoryName">
          </div>
       
      </div>
      <div class="modal-footer">
        <button type="button" class="save_button btn" (click)="updateCategory(categoryForm)" [disabled]="!categoryForm.valid">Save</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #deletemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Confirmation</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closePopup()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <span class="text-justify">Are you sure, You Want To Delete This Information?</span>
      </div>
    </div>
       
      <div class="modal-footer mt-4">
        <button type="button" class="save_button btn" (click)="deletePopup()">Yes, Continue</button>
        <button type="button" class="save_button btn" (click)="closePopup()">Cancle</button>
      </div>
  </div>
</ng-template>
