
    <app-layout>

        <div class="container p-5">
            <!-- <div class="py-2 " style="border: solid;"> -->
            <div class="py-2 " >


<div class="col-12">
    <div class="row">
        <div class="col">
            <p>Class<sup class="red">*</sup></p>
            <select class="form-select " aria-label="Default select example">
                <option selected>Select</option>
                <option value="1">Select</option>
                <option value="2">Six</option>
                <option value="3">Seven</option>
            </select>
        </div>
        <div class="col">
            <p>Section</p>
            <select class="form-select  " aria-label="Default select example">
                <option selected>select</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
            </select>
        </div>
        <div class="col">
            <p>Fees Group</p>
            <select class="form-select " aria-label="Default select example">
                <option selected>select</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
            </select>
        </div>
        <div class="col-12 text-end px-0 pt-4">

            <div class="button pe-5 pt-1 pb-1"><button type="button"
                    class="btn button_color">Filter</button></div>

        </div>
    </div>
</div>
</div>

<div class="py-4">
<p class="table-heading "><b>Student List</b></p>
<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">SL</th>
      <th scope="col"> Name</th>
      <th scope="col">Registration</th>
      <th scope="col">Roll No.</th>
      <th scope="col">Roll</th>
      <th scope="col">Gender</th>
      <th scope="col">Mobile No.</th>
      <th scope="col">Email</th>
      <th scope="col">Guardian Name</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>#001234</td>
      <td>Fanny Siregar</td>
      <td>General</td>
      <td>111111</td>
      <td>11</td>
      <td>11</td>

      <td>11</td>

      <td>11</td>
      <td>Fanny Siregar</td>


     
    </tr>
  </tbody>
</table>
</div>

       
            
          
        </div>



    </app-layout>