
<app-layout>
    <div class="container p-4">
      <div class="tab-container">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" (selectedTabChange)="tabChange($event)">
          <mat-tab label="Banner">
            <form [formGroup]="bannerForm" (ngSubmit)="addBanner()">
              <div class="row my-3">
                <div class="col-6">
                  <label for="exampleInputEmail1" class="form-label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    width="200px"
                    formControlName="title"
                  />
                </div>
                <div class="col-6">
                  <label class="form-label">Banner Image</label>
                  <ngx-file-drop [multiple]="false" [directory]="false" (onFileDrop)="onFilesDropped($event, 'banner')">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <ng-container *ngIf="!bannerFile">
                          Drag and drop or
                          <a class="p-1 btn btn-link" type="button" (click)="openFileSelector()">Browse Files</a>
                        </ng-container>
                        <ng-container *ngIf="bannerFile">
                          {{bannerFile.name}}
                          <a class="p-1 btn btn-link" style="color: #F44336;" type="button" (click)="bannerFile=bannerImage=null;">
                            Remove
                          </a>
                        </ng-container>
                    </ng-template>
                  </ngx-file-drop>
                  <img *ngIf="bannerImage" [src]="bannerImage" class="img-fluid" alt="Responsive image" height="150px" width="250px">
                </div>
              </div>

              <div class="text-end">
                <button type="submit" class="text-end btn btn-primary" [disabled]="!bannerForm.valid || isLoading || !bannerFile">
                  <span *ngIf="isLoading" class="spinner-border text-light"></span>
                  <span *ngIf="!isLoading">Save</span>
                </button>
              </div>
            </form>

            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Banner Image</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let banner of banners; index as i">
                  <td>{{banner.bannerName}}</td>
                  <td><img class="img-fluid tableImg" [src]="banner.bannerImage" alt=""></td>
                </tr>
              </tbody>
            </table>
          </mat-tab>

          <mat-tab label="Notice Board">
            <form [formGroup]="noticeForm" (ngSubmit)="addNotice()">
              <div class="row my-3">
                <div class="col-4">
                  <label for="exampleInputEmail1" class="form-label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    width="200px"
                    formControlName="name"
                  />
                </div>
                <div class="col-4">
                  <label class="form-label">Image</label>
                  <ngx-file-drop [multiple]="false" [directory]="false" (onFileDrop)="onFilesDropped($event, 'notice')">
                    <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                        <ng-container *ngIf="!noticeFile">
                          Drag and drop or
                          <a class="p-1 btn btn-link" type="button" (click)="openFileSelector()">Browse Files</a>
                        </ng-container>
                        <ng-container *ngIf="noticeFile">
                          {{noticeFile.name}}
                          <a class="p-1 btn btn-link" style="color: #F44336;" type="button" (click)="noticeFile=noticeImage=null;">
                            Remove
                          </a>
                        </ng-container>
                    </ng-template>
                  </ngx-file-drop>
                  <img *ngIf="noticeImage" [src]="noticeImage" class="img-fluid" alt="Responsive image" height="150px" width="250px">
                </div>
                <div class="col-4">
                  <label for="exampleInputEmail1" class="form-label">Description</label>
                  <textarea class="form-control col-md-6 input-lg" id="exampleFormControlTextarea2" rows="5"
                    formControlName="description"></textarea>
                </div>
              </div>

              <div class="text-end">
                <button type="submit" class="btn btn-primary" [disabled]="!noticeForm.valid || isLoading || !noticeFile">
                  <span *ngIf="isLoading" class="spinner-border text-light"></span>
                  <span *ngIf="!isLoading">Save</span>
                </button>
              </div>
            </form>

            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                  <th scope="col">Date</th>
                  <th scope="col">Banner Image</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notice of notices; index as i">
                  <td>{{notice.name}}</td>
                  <td>{{notice.description}}</td>
                  <td>{{notice.noticeDate | date}}</td>
                  <td><img class="img-fluid tableImg" [src]="notice.imageAttachment" alt=""></td>
                </tr>
              </tbody>
            </table>
          </mat-tab>

          <mat-tab label=" Notification">
            <form [formGroup]="notificationForm" (ngSubmit)="addNotification()">
              <div class="row my-3">
                <div class="col-6">
                  <label for="exampleInputEmail1" class="form-label">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    width="200px"
                    formControlName="title"
                  />
                </div>
                <div class="col-6">
                  <label for="exampleInputEmail1" class="form-label">Description</label>
                  <textarea class="form-control col-md-6 input-lg" id="exampleFormControlTextarea2" rows="5"
                    formControlName="description"></textarea>
                </div>
              </div>

              <div class="text-end">
                <button type="submit" class="btn btn-primary" [disabled]="!notificationForm.valid || isLoading">
                  <span *ngIf="isLoading" class="spinner-border text-light"></span>
                  <span *ngIf="!isLoading">Push</span>
                </button>
              </div>
            </form>

            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let notice of notifications; index as i">
                  <td>{{notice.title}}</td>
                  <td>{{notice.description}}</td>
                </tr>
              </tbody>
            </table>
        </mat-tab>

        <mat-tab label="Raised Ticket">
          <div class="mb-3" style="width:15%; margin-top: 5%;" >
            <label for="exampleInputEmail1" class="form-label">Search By Date</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              width="200px"
            />
          </div>

          <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">To</th>
                <th scope="col">Support Type</th>
                <th scope="col">View Details</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ticket of raisedTickets; index as i">
                <td>{{ticket.sendTo}}</td>
                <td>{{ticket.supportType}}</td>
                <td>{{ticket.description}}</td>
                <td>{{ticket.status}}</td>
                <td>
                  <button class="btn me-1" data-bs-toggle="modal" data-bs-target="#viewTicket"
                    (click)="setTicket(ticket)">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            </table>
        </mat-tab>

         <mat-tab label="Leave">
          <div class="mb-3" style="width:15%; margin-top: 5%;" >
            <label for="exampleInputEmail1" class="form-label">Search By Date</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              width="200px"
            />
          </div>

          <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">Leave Type</th>
                <th scope="col">Date Range</th>
                <th scope="col">Reason</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let leave of leaves; index as i">
                <td>{{leave.leaveType?.name}}</td>
                <td>{{leave.days}}</td>
                <td>{{leave.reason}}</td>
                <td>{{leave.status}}</td>
                <td>
                  <button class="btn me-1" data-bs-toggle="modal" data-bs-target="#viewLeave"
                    (click)="setLeave(leave)">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            </table>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-layout>

<!--View Ticket-->
<div class="modal fade" id="viewTicket">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Details</h5>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-3">
            <div>
              To :
              <br>
              Support Type :
              <br>
              Description :
              <br>
              Status :
            </div>
          </div>
          <div class="col-9">
            <div>
              {{selectedTicket?.sendTo}}
              <br>
              {{selectedTicket?.supportType}}
              <br>
              {{selectedTicket?.description}}
              <br>
              <form [formGroup]="ticketStatus">
                <div class="ticket-status d-flex">
                    <div class="form-check me-1">
                      <input class="form-check-input" type="radio" formControlName="status" id="pending"
                        value="PENDING">
                      <label class="form-check-label" for="pending">
                        Pending
                      </label>
                    </div>
                    <div class="form-check me-1">
                      <input class="form-check-input" type="radio" formControlName="status" id="approve"
                        value="RESOLVED">
                      <label class="form-check-label" for="approve">
                        Resolved
                      </label>
                    </div>
                </div>
              </form>
              </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateTicketStatus()"
          [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Apply</span>
        </button>
        <button id="updateStatusModal" type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--View Leave-->
<div class="modal fade" id="viewLeave">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Details</h5>
      </div>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-3">
            <div>
              Leave Type :
              <br>
              Date Range :
              <br>
              Reason :
              <br>
              Status :
            </div>
          </div>
          <div class="col-9">
            <div>
              {{selectedLeave?.leaveType?.name}}
              <br>
              {{selectedLeave?.days}}
              <br>
              {{selectedLeave?.reason}}
              <br>
              <form [formGroup]="leaveStatus">
                <div class="ticket-status d-flex">
                    <div class="form-check me-1">
                      <input class="form-check-input" type="radio" formControlName="status" id="pending1"
                        value="PENDING">
                      <label class="form-check-label" for="pending1">
                        Pending
                      </label>
                    </div>
                    <div class="form-check me-1">
                      <input class="form-check-input" type="radio" formControlName="status" id="approve2"
                        value="APPROVED">
                      <label class="form-check-label" for="approve2">
                        Approved
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" formControlName="status" id="reject3"
                        value="REJECTED">
                      <label class="form-check-label" for="reject3">
                        Reject
                      </label>
                    </div>
                </div>
              </form>
              </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateLeaveStatus()"
          [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Apply</span>
        </button>
        <button id="updateLeaveStatusModal" type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
