@import "src/app/themes/variables";

/** Material Theme Overrides **/
.mdc-list-item--with-leading-icon .mdc-list-item__start {
  margin-right: 16px;
  color: $color-primary;
}

.sub-menu-cont {
  position: relative;

  .sub-menu {
    padding-left: 60px;
  }
}

.sub-menu-cont::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 30px;
  bottom: 10px;
  right: auto;
  border: 2px solid $color-primary;
}
