.scheduler-sec {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 10px;
}
.table-heading{
    border-bottom: 1px solid purple;
    padding-bottom: 12px;
    padding-left: 4px;
    font-weight: 600;
    font-size: 17px;
}
.error{
    color:red;
}