<app-layout>
    <ng-container *ngIf="student">
        <div class="container p-5" >
            <app-stud-info-picture [studentData]="student"></app-stud-info-picture>
            
            <accordion [isAnimated]="true" class="mt-3">
                <accordion-group heading="Academic Details" class="mt-3">
                    <app-stu-info-basic  [studentData]="student"></app-stu-info-basic>
                </accordion-group>
                <accordion-group heading="Fees" class="mt-3">
                  <app-stu-info-fees [studentData]="student"></app-stu-info-fees>
                </accordion-group>
                <accordion-group heading="Exam Result" class="mt-3">
                 <app-stu-info-exam-result [studentData]="student"></app-stu-info-exam-result>
                </accordion-group>
                <accordion-group heading="Parent Information" class="mt-3">
                  <app-stu-parent-info [studentData]="student"></app-stu-parent-info>
                 </accordion-group>
                 <accordion-group heading="Transport" class="mt-3">
                    <app-stud-vehicle-route [studentData]="student"></app-stud-vehicle-route>
                   </accordion-group>
                 <accordion-group heading="Documentation" class="mt-3">
                  <app-stu-info-document [studentData]="student"></app-stu-info-document>
                 </accordion-group>
              </accordion>
        </div>        
    </ng-container>    
</app-layout>
