<app-layout>

    <div class="container p-5">
        <!-- <div class="py-2 " style="border: solid;"> -->
        <div class="py-2 ">


<div class="col-12">
<div class="row">
    <!-- <div class="col">
        <label class="form-label">Role *</label>
        <input type="text" class="form-control"><br>
    </div> --> 
    <div class="col">
        <div class="col">
            <label class="form-label">Designation *</label>
            <!-- <label class="form-label">Class *</label> -->
            <select class="form-select" formControlName="">
              <option disabled value="select">Select</option>
              <option *ngFor="let sec of designations" [value]="sec._id">{{sec.name}}</option>
            </select>
        </div>
    </div>

    <div class="col-12 text-end px-0 pt-4">

        <div class="button pe-5 pt-1 pb-1"><button type="button"
                class="btn button_color">Filter</button></div>

    </div>
</div>
</div>
</div>

  <div class="tab-container">
      <div class="pt-4">
        <p class="table-heading "><b>Employee Salary Assign</b></p>
      </div>



      <!--  -->
      <table class="table mt-3 py-4">
      <thead>
      <tr>
        <th scope="col">SL</th>
        <th scope="col"> Staff Id</th>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Department</th>
        <th scope="col">Salary Grade</th>



      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let emp of employees; index as i">
        <td>{{i + 1}}</td>
        <td>{{emp._id | slice:-4}}</td>
        <td>{{emp.name}}</td>
        <td>{{emp.designation?.name}}</td>
        <td>{{emp.department?.name}}</td>
        <td>
          <select class="form-select" [ngModel]="emp.salaryGrade ? emp.salaryGrade : 'select'"
            (change)="updateEmpSal(emp._id, $event)">
            <option value="select">Select</option>
            <option *ngFor="let sal of salaries" [value]="sal._id">
              {{sal.salaryGrade}}
            </option>
          </select>
        </td>
      </tr>
      </tbody>
      </table>
  </div>


      <div class="text-end">
        <button class="btn" (click)="saveSalary()" [disabled]="isLoading">
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Save</span>
        </button>
      </div>

    </div>



</app-layout>
