
<table class="table table-bordered table-striped mt-3">
  <tbody>
    <tr>
      <th scope="row">Gurdian Name</th>
      <td>{{parent?.firstName}}</td>
      <th>Relation</th>
      <td>{{parent?.relation}}</td>
    </tr>
    <tr>
      <th scope="row">Father Name</th>
      <td>{{parent?.fatherName}}</td>
      <th>Mother Name</th>
      <td>{{parent?.motherName}}</td>
    </tr>
    <tr>
      <th scope="row">Occupation</th>
      <td>{{parent?.occupation}}</td>
      <th>Email</th>
      <td>{{parent?.email}}</td>
    </tr>
    <tr>
      <th scope="row">Education</th>
      <td>{{parent?.education}}</td>
      <th>City</th>
      <td>{{parent?.city}}</td>
    </tr>
    <tr>
      <th scope="row">State</th>
      <td>{{parent?.state}}</td>
      <th>Mobile No</th>
      <td>{{parent?.number}}</td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td colspan="3">{{parent?.permanentAddress}}</td>
    </tr>
  </tbody>
</table>