<app-layout>
    <div class="container p-4">
        <div class="tab-container">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Invoice">
                    <div class="pt-4">

                        <div class="mb-3 rows= 6 " style="border: solid;">
                         
                           
                            
                          </div>
                    
          
                      <table class="table mt-3">
                        <thead>
                          <tr>
                            <!-- <th scope="col"><input type="checkbox" class="form-check-input"></th> -->
                            <th scope="col">SL</th>
                   
                            <th scope="col">Fee type </th>
               
                            <th scope="col">Due Date</th>
                            <th scope="col">Status</th>

                            <th scope="col">Amount</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Fine</th>
                            <th scope="col">Paid</th>
                            <th scope="col">Balance</th>



                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <!-- <td scope="row"><input type="checkbox" class="form-check-input"></td> -->
                            <td>#001234</td>
                         
                          
                            <td>College</td>
                      
                            <td><button class="rounded-pill">Unpaid</button></td>
                            <td>Science</td>
                            <td>Science</td>
                            <td>Science</td>
                            <td>Science</td>
                            <td>Science</td>
                            <td>Science</td>

                         
                           
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </mat-tab>
                  <mat-tab label="Collect Fees">
                    <div class="container">
                        <div class="mb-3 py-3">
                            <label class="form-label">Name*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Date*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Amount*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Discount*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Fine</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Payment Method</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Amount*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Remark*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Guardian Confirmation Sms</label>
                          </div>
                          <div class="text-end">
                            <button class="btn rouded-pill">Save</button>
                          </div>
                    </div>
                </mat-tab>
                <mat-tab label="Fully Paid">
                    <div class="container">
                       
                        <div class="mb-3 py-2">
                            <label class="form-label">Date*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Amount*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Fine</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Payment Method</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Amount*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 py-2">
                            <label class="form-label">Remark*</label>
                            <input type="text" class="form-control">
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Guardian Confirmation Sms</label>
                          </div>
                          <div class="text-end">
                            <button class="btn ">Save</button>
                          </div>
                    </div>
                </mat-tab>

  </mat-tab-group>
            </div>

        </div>
    
    </app-layout>