<app-layout>
    <div class="container p-4">
        <div class="tab-container">
            <nav mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="start" selectedIndex="2" [tabPanel]="tabPanel">
                <a mat-tab-link routerLink="../">Grade List</a>
                <a mat-tab-link [active]="true">Edit Grade </a>
            </nav>
            <mat-tab-nav-panel #tabPanel>

                <form [formGroup]="gradeForm" (ngSubmit)="updateGrade()" >
                    <div class="row mt-5 mb-3">
                      <div class="col-4">
                        <label class="form-label">Name *</label>
                        <input type="text" formControlName="name" class="form-control">
                      </div>
                      <div class="col-4 offset-4">
                        <label class="form-label">Grade Point *</label>
                        <input type="text" formControlName="gradePoint"class="form-control">
                      </div>
                    </div>
                    <div class="row mt-5 mb-3">
                      <div class="col-4">
                        <label class="form-label">Min Percentage *</label>
                        <input type="text"formControlName="minPercentage" class="form-control">
                      </div>
                      <div class="col-4 offset-4">
                        <label class="form-label">Max Percentage *</label>
                        <input type="text" formControlName="maxPercentage"class="form-control">
                      </div>
                    </div>

                    <div class="mb-3">
                      <label class="form-label">Remarks</label>
                      <textarea class="form-control" formControlName="remarks" rows="3"></textarea>
                    </div>

                    <div class="text-end mb-3">
                      <button type="submit" class="btn" [disabled]="isLoading || !gradeForm.valid">
                        <span *ngIf="isLoading" class="spinner-border text-light"></span>
                        <span *ngIf="!isLoading">Save</span>
                      </button>
                    </div>
                    </form>
            </mat-tab-nav-panel>



        </div>
    </div>
           </app-layout>
