.header-txt{
    border-bottom: 2px solid #7f5ea3;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
    color:#7f5ea3;
}
.mat-datepicker-input{
    height: 38px;
    border-radius: 4px;
}
.form-group input, textarea{
    border-radius: .375rem!important;
    border-color: #dee2e6 !important;
}