<app-layout>
  <div class="container p-5" *ngIf="student">

    <div class="profile-cont">
      <div class="profile-pic-cont">
        <div class="profile-pic">
          <img class="img-fluid" [src]="student.image? student.image: 'assets/images/no-profile.jpg'" alt="">
        </div>
      </div>
      <div class="stud-name">
        <h2>{{student.firstName + " " + student.lastName}}</h2>
      </div>
      <div class="stud-bio">
        <p class="position-relative d-flex">
          Class: {{student.academic.studentClass}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Section: {{student.academic.section}}
          <br>
          Reg No.: {{student.registerNo}}
          <br>
          Roll No.: {{student.rollNo}}
          <br>
          {{student.dob}}
          <br>
          {{student.number}}
          <br>
          {{student.email}}
          <br>
          {{student.presentAddress}}
        </p>
      </div>
      <div class="align-self-end">
        <div class="attendance">
          <i class="fa-solid fa-cube"></i>
          <p>Avg. Att.: 28</p>
        </div>
      </div>
    </div>


    <div class="prof-header border bg-light mt-5" data-bs-toggle="collapse" data-bs-target="#basicDetails"
      aria-expanded="false">
      <p><i class="fa fa-user" aria-hidden="true"></i> Basic Details</p>
    </div>
    <div class="collapse mt-3" id="basicDetails">
      <div class="mb-5">
        <div class="f-heading">
          <h4>
            <i class="fa-solid fa-graduation-cap"></i>
            Academic Details
          </h4>
        </div>

        <div class="row pb-3">
          <div class="col-3">
            <div class="form-group">
              <label>Academic Year</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Register</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Roll</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Admission Date</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-4">
            <div class="form-group">
              <label>Class</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Section</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Category</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <div class="f-heading">
          <h4>
            <i class="fa-solid fa-graduation-cap"></i>
            Student Details
          </h4>
        </div>

        <div class="row pb-3">
          <div class="col-4">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Gender</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-6">
            <div class="form-group">
              <label>Blood group</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Date of birth</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-4">
            <div class="form-group">
              <label>Mother Tongue</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Religion</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-4">
            <div class="form-group">
              <label>Caste</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-3">
            <div class="form-group">
              <label>Mobile No</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label>State</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-6">
            <div class="form-group">
              <label>Permanent address</label>
              <textarea type="text" class="form-control"> </textarea>
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Present address</label>
              <textarea type="text" class="form-control"> </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <div class="profile-cont-basic">
          <h2>Profile Picture</h2>
          <i><i class="fa-solid fa-user-plus"></i></i>
        </div>
      </div>

      <div class="mb-5">
        <div class="f-heading">
          <h4>
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            Login Details
          </h4>
        </div>

        <div class="row pb-3">
          <div class="col-12">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <div class="f-heading">
          <h4>
            <i class="fa-solid fa-graduation-cap"></i>
            Guardian Details
          </h4>
        </div>

        <div class="row pb-3">
          <div class="col-12">
            <div class="form-group">
              <label>Guardian</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <div class="f-heading">
          <h4>
            <i class="fa-solid fa-van-shuttle"></i>
            Transport Details
          </h4>
        </div>

        <div class="row pb-3">
          <div class="col-6">
            <div class="form-group">
              <label>Transport route</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Vehicle no</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <div class="f-heading">
          <h4>
            <i class="fa-solid fa-hotel"></i>
            Hostel Details
          </h4>
        </div>

        <div class="row pb-3">
          <div class="col-6">
            <div class="form-group">
              <label>Hostel name</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Room name</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <div class="f-heading">
          <h4>
            <i class="fa-solid fa-school-circle-exclamation"></i>
            Previous School Details
          </h4>
        </div>

        <div class="row pb-3">
          <div class="col-6">
            <div class="form-group">
              <label>School name</label>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Qualification</label>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>

        <div class="row pb-3">
          <div class="col-12">
            <div class="form-group">
              <label>Remarks</label>
              <textarea type="text" class="form-control"> </textarea>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-5 text-end">
        <button class="btn btn-lg">Update</button>
      </div>
    </div>

    <div class="prof-header border bg-light mt-2" data-bs-toggle="collapse" data-bs-target="#fees"
      aria-expanded="false">
      <p><i class="fa fa-briefcase" aria-hidden="true"></i> Fees</p>
    </div>
    <div class="collapse" id="fees">
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Fee Type</th>
            <th scope="col">Due</th>
            <th scope="col">Status</th>
            <th scope="col">Amount</th>
            <th scope="col">Discount</th>
            <th scope="col">Fine</th>
            <th scope="col">Paid</th>
            <th scope="col">Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>February Month Fees</td>
            <td>02.Feb.2022</td>
            <td>Unpaid</td>
            <td>$100.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$100.00</td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>March Month Fees</td>
            <td>02.Mar.2022</td>
            <td>Unpaid</td>
            <td>$100.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$100.00</td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td>April Month Fees</td>
            <td>02.Apr.2022</td>
            <td>Unpaid</td>
            <td>$100.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$100.00</td>
          </tr>
          <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
            <td></td>
            <td>$300.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$0.00</td>
            <td>$300.00</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="prof-header border bg-light mt-2" data-bs-toggle="collapse" data-bs-target="#promHistory"
      aria-expanded="false">
      <p><i class="fa fa-briefcase" aria-hidden="true"></i> Promotion History</p>
    </div>

    <div class="collapse" id="promHistory">
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Class/Section</th>
            <th scope="col">From Session</th>
            <th scope="col">Promoted Class/Section</th>
            <th scope="col">Promoted Session</th>
            <th scope="col">Due Amount</th>
            <th scope="col">Promoted date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>Six (A)</td>
            <td>2023-2024</td>
            <td>Seven (A)</td>
            <td>-</td>
            <td>$2500.00</td>
            <td>21.Sep.2022</td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td>Six (A)</td>
            <td>2023-2024</td>
            <td>Seven (A)</td>
            <td>-</td>
            <td>$2500.00</td>
            <td>21.Sep.2022</td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td>Six (A)</td>
            <td>2023-2024</td>
            <td>Seven (A)</td>
            <td>-</td>
            <td>$2500.00</td>
            <td>21.Sep.2022</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="prof-header border bg-light mt-2" data-bs-toggle="collapse" data-bs-target="#bookIssue"
      aria-expanded="false">
      <p><i class="fa fa-briefcase" aria-hidden="true"></i> Book Issue</p>
    </div>
    <div class="collapse" id="bookIssue">
      <table class="table mt-3">
        <thead>
          <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Book Title</th>
            <th scope="col">Date of Issue</th>
            <th scope="col">Date of Expiry</th>
            <th scope="col">Fine</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="row">1</td>
            <td>The Great Gatsby</td>
            <td>26.Aug.2022</td>
            <td>31.Aug.2022</td>
            <td>$0.00</td>
            <td>Returned</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="prof-header border bg-light mt-2" data-bs-toggle="collapse" data-bs-target="#result"
      aria-expanded="false">
      <p><i class="fa fa-briefcase" aria-hidden="true"></i> Exam Result</p>
    </div>
    <div class="collapse" id="result">

      <div class="mb-4">
        <div class="subjects-cont mt-3">
          <div class="f-heading sub-heading">
            <h5>
              <i class="fas fa-book"></i>
              Subjects
            </h5>
          </div>

          <div class="subject-list">
            <button class="btn btn-light">
              English
            </button>

            <button class="btn btn-light">
              Physics
            </button>

            <button class="btn btn-light">
              Mathematics
            </button>

            <button class="btn btn-light">
              Chemistry
            </button>

            <button class="btn btn-light">
              Biology
            </button>
          </div>
        </div>
      </div>

        <div class="marks-table-cont border mb-4">
          <div class="title bg-light">
            <p> First term Examination(Marks And grade) </p>
          </div>

          <div class="px-3 py-4">
            <table class="table">
              <thead class="border bg-light">
                <tr>
                  <th scope="col">Subjects</th>
                  <th scope="col">Practical</th>
                  <th scope="col">Attendance</th>
                  <th scope="col">Written</th>
                  <th scope="col">Vivas</th>
                  <th scope="col">Total</th>
                  <th scope="col">Grade</th>
                  <th scope="col">Point</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td>English</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>

                  <td>Physics</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>

                  <td>mathematics</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                <tr>
                  <td>English</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Chemistry</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>
                  <td>12/20</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td style="color:rgb(28, 28, 30)">Grand Total</td>

                  <td colspan="7">40/50</td>

                </tr>
                <tr>
                  <td style="color:rgb(28, 28, 30)">Grand Total words</td>

                  <td colspan="7">Zero</td>

                </tr>
                <tr>
                  <td style="color:rgb(28, 28, 30)">GPA</td>

                  <td colspan="7">40/50</td>

                </tr>
                <tr>
                  <td style="color:rgb(28, 28, 30)">Result</td>

                  <td colspan="7">40/50</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--Table Two-->

        <div class="marks-table-cont border">
          <div class="title bg-light">
            <p> First term Examination(GPA) </p>
          </div>

          <div class="px-3 py-4">
            <table class="table">
              <thead class="border bg-light">
                <tr>
                  <th  scope="col">Subjects</th>
                  <th  scope="col">Practical</th>
                  <th  scope="col">Written</th>
                  <th  scope="col">Grade</th>
                  <th  scope="col">Point</th>
                </tr>
              </thead>
              <tbody>
                <tr>

                  <td>English</td>
                  <td>16/20</td>



                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>

                  <td>Physics</td>
                  <td>16/20</td>

                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>

                  <td>mathematics</td>
                  <td>16/20</td>

                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                <tr>
                  <td>English</td>
                  <td>16/20</td>

                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Chemistry</td>
                  <td>16/20</td>

                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>

                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>

                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>

                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>

                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>BioLogy</td>
                  <td>16/20</td>

                  <td>40/50</td>
                  <td>A</td>
                  <td>A</td>
                </tr>
                <tr>


                  <td style="color:rgb(28, 28, 30)">GPA</td>

                  <td colspan="7">40/50</td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="prof-header border bg-light mt-2" data-bs-toggle="collapse" data-bs-target="#parentInfo"
        aria-expanded="false">
        <p><i class="fa fa-briefcase" aria-hidden="true"></i> Parent Information</p>
      </div>
      <div class="collapse" id="parentInfo">
        <table class="table table-bordered table-striped mt-3">
          <tbody>
            <tr>
              <th scope="row">Gurdian Name</th>
              <td>Ryan Cameron</td>
              <th>Relation</th>
              <td>Son</td>
            </tr>
            <tr>
              <th scope="row">Father Name</th>
              <td>Ryan Cameron</td>
              <th>Mother Name</th>
              <td>Elizabeth Sharpe</td>
            </tr>
            <tr>
              <th scope="row">Occupation</th>
              <td>Bussiness</td>
              <th>Income</th>
              <td>$2000</td>
            </tr>
            <tr>
              <th scope="row">Education</th>
              <td>Diploma Eng.</td>
              <th>City</th>
              <td>Crete</td>
            </tr>
            <tr>
              <th scope="row">State</th>
              <td>ND</td>
              <th>Mobile No</th>
              <td>+22 701-753-2354</td>
            </tr>
            <tr>
              <th scope="row">Email</th>
              <td colspan="3">paren2@amom.com</td>
            </tr>
            <tr>
              <th scope="row">Address</th>
              <td colspan="3">1354 Hidden Meadow Drive Crete, ND 58020</td>
            </tr>
            <tr>
              <th scope="row">Guardian Picture</th>
              <td colspan="3">-</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="prof-header border bg-light mt-2" data-bs-toggle="collapse" data-bs-target="#docs"
        aria-expanded="false">
        <p><i class="fa fa-briefcase" aria-hidden="true"></i> Documents</p>
      </div>
    </div>
</app-layout>
