<app-layout>
    <div class="container p-4">
        <div class="tab-container">
            <nav mat-tab-nav-bar mat-stretch-tabs="false" mat-align-tabs="start" selectedIndex="2" [tabPanel]="tabPanel">
                <a mat-tab-link routerLink="../">Fine List</a>
                <a mat-tab-link [active]="true">Edit Fine</a>
            </nav>
            <mat-tab-nav-panel #tabPanel>

                <div class="container">
                    <form [formGroup]="fineSetupForm" (ngSubmit)="update()">

                        <div class="mb-3 py-2">
                          <label class="form-label">Fees Type*</label>
                          <select class="form-select" formControlName="feeType">
                            <option disabled value="select">Select</option>
                            <option *ngFor="let fType of feeType" [value]="fType._id">{{fType.name}}</option>
                          </select>
                        </div>
                        <div class="mb-3 py-2">
                          <label class="form-label">Fine Type*</label>
                          <select class="form-select" formControlName="fineType">
                            <option disabled value="select">Select</option>
                            <option value="Fixed Amount">Fixed Amount</option>
                            <option value="Percentage">Percentage</option>
                          </select>
                        </div>
                        <div class="mb-3 py-2">
                          <label class="form-label">Fine value*</label>
                          <input type="text" formControlName="fineValue" class="form-control">
                        </div>
                        <div class="mb-3 py-2">
                          <label class="form-label">Late Fee Frequency*</label>
                          <select class="form-select" formControlName="lateFeeFrequency">
                            <option disabled value="select">Select</option>
                            <option value="Fixed">Fixed</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Annually">Annually</option>
                          </select>
                        </div>
                        <div class="text-end">
                          <button type="submit" class="btn" [disabled]="isLoading || !fineSetupForm.valid
                            || fineSetupForm.get('feeType')?.value == 'select'
                            || fineSetupForm.get('fineType')?.value == 'select'
                            || fineSetupForm.get('lateFeeFrequency')?.value == 'select'">
                            <span *ngIf="isLoading" class="spinner-border text-light"></span>
                            <span *ngIf="!isLoading">Save</span>
                          </button>
                        </div>
                        </form>
                  </div>

            </mat-tab-nav-panel>



        </div>
    </div>
           </app-layout>
