<app-layout>
  <div class="container p-4">
    <div class="tab-container">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Enquiry List">
          <div class="pt-4">
            <div class="top-options">
              <div class="search-area">
                <div class="input-group pe-3">
                  <input type="search" class="form-control" placeholder="Search here...">
                  <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                </div>
                <div class="options">
                  <button class="btn"><img src="assets/icons/opt-copy.svg"></button>
                  <button class="btn"><img src="assets/icons/opt-excel.svg"></button>
                  <button class="btn"><img src="assets/icons/opt-pdf.svg"></button>
                  <button class="btn"><img src="assets/icons/opt-sheet.svg"></button>
                  <button class="btn"><img src="assets/icons/opt-print.svg"></button>
                </div>
              </div>
            </div>

            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">SL</th>
                  <th scope="col">Name</th>
                  <th scope="col">Mobile No.</th>
                  <th scope="col">Guardian</th>
                  <th scope="col">Assigned</th>
                  <th scope="col"> Date of Birth</th>
                  <th scope="col">Response</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let enq of enquiries; index as i">
                  <td>{{i+1}}</td>
                  <td>{{enq.name}}</td>
                  <td>{{enq.mobileNo
                  }}</td>
                  <td>Father{{enq.fatherName}}; Mother{{enq.motherName}}</td>
                  <td>{{enq.assigned}}</td>
                  <td>{{enq.dob}}</td>
                  <td>{{enq.response}}</td>
                  <td>
                    <button class="btn emp-edit me-1" data-bs-toggle="modal" data-bs-target="#editPrompt"
                    (click)="setEnq(enq)">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                  <button class="btn emp-edit ms-1" data-bs-toggle="modal" data-bs-target="#deletePrompt"
                    (click)="selectedEnq=enq;">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Add Enquiry">
          <form [formGroup]="addEnquiryForm" (ngSubmit)="addDEnquery()">
          <div class="my-5">
            <div class="mb-3">
              <label class="form-label">Name *</label>
              <input type="text" formControlName="name" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Gender *</label>
              <input type="text" formControlName="gender" class="form-control">
            </div>

            <div class="mb-3">
              <label class="form-label">Date Of Birth *</label>
          
<!-- 
              <mat-datepicker-toggle  matSuffix [for]="picker1"></mat-datepicker-toggle>
      
              <input matInput class="form-control" [matDatepicker]="picker1"
              placeholder="dd-mm-yyyy" formControlName="dob" >
            
    
         <mat-datepicker #picker1></mat-datepicker> -->

       
          
           
       
            <div class="input-group flex-nowrap">
            
              <input type="text" class="date-picker-input" [matDatepicker]="picker1"
                (click)="picker1.open()" formControlName="dob">
            </div>
            <mat-datepicker #picker1></mat-datepicker>
  
            </div>

            <!-- <div class="mb-3">
              <label class="form-label">Previous School</label>
              <input type="text" class="form-control">
            </div> -->

            <div class="row mb-3">
              <div class="col-3">
                <label class="form-label">Father Name *</label>
                <input type="text" formControlName="fatherName" class="form-control">
              </div>
              <div class="col-3">
                <label class="form-label">Mother Name *</label>
                <input type="text" formControlName="motherName" class="form-control">
              </div>
              <div class="col-3">
                <label class="form-label">Mobile No. *</label>
                <input type="number" formControlName="mobileNo" class="form-control">
              </div>
              <div class="col-3 ">
                <label class="form-label">E-mail *</label>
                <input type="text" formControlName="email" class="form-control">
              </div>
            </div>

        
        


          

           
      

          <div class="row mb-3">

            <div class="col-4">
              <label class="form-label">Assigned *</label>
              <input type="text" formControlName="assigned" class="form-control">

          </div>
          <div class="col-4">
            <label class="form-label">Response *</label>
            <input type="text" formControlName="response" class="form-control">

        </div>
        <div class="col-4">
          <label class="form-label">Class Apply For *</label>
          <input type="number" formControlName="classApplyFor" class="form-control">

      </div>



          </div>
        </div>

          <div class="text-end mb-3">
            <button class="btn">Save</button>
          </div>
          </form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</app-layout>




<!---Modal for Edit enq---->
<div class="modal fade" id="editPrompt">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Designation</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="editEnq">
          <div class="mb-3">
            <label class="form-label"> Name *</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="mb-3">
            <label class="form-label"> gender *</label>
            <input type="text" class="form-control" formControlName="gender">
          </div>
           <div class="mb-3">
            <label class="form-label"> Date of Birth *</label>
            <input type="text" class="form-control" formControlName="dob">
          </div>
           <div class="mb-3">
            <label class="form-label"> fatherName *</label>
            <input type="text" class="form-control" formControlName="fatherName">
          </div>
           <div class="mb-3">
            <label class="form-label"> motherName *</label>
            <input type="text" class="form-control" formControlName="motherName">
          </div>
           <div class="mb-3">
            <label class="form-label"> mobileNo *</label>
            <input type="text" class="form-control" formControlName="mobileNo">
          </div>
           <div class="mb-3">
            <label class="form-label"> email *</label>
            <input type="text" class="form-control" formControlName="email">
          </div> 
          <div class="mb-3">
            <label class="form-label"> assigned *</label>
            <input type="text" class="form-control" formControlName="assigned">
          </div>
        <!-- </div>  -->
        <div class="mb-3">
          <label class="form-label"> classApplyFor *</label>
          <input type="text" class="form-control" formControlName="classApplyFor">
        </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="editModalDismissBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <!-- <button type="button" class="btn btn-danger" [disabled]="isLoading || !editEnq.valid" (click)="updateEnq()">
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Update</span>
        </button> -->
        <button (click)="updateEnq()"> Update</button>
      </div>
    </div>
  </div>
</div>


<!-- -Modal for delete-- -->
<div class="modal fade" id="deletePrompt">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Enquiry</h5>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this Qnquiry?</p>
      </div>
      <div class="modal-footer">
        <button id="modalDismissBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" [disabled]="isLoading" (click)="delete()">
          <span *ngIf="isLoading" class="spinner-border text-light"></span>
          <span *ngIf="!isLoading">Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>