<app-layout>

    <div class="container p-5">
        <form [formGroup]="studentForm">
            <div class="row">
                <div class="col-md-12 header-txt" >
                    <i _ngcontent-dan-c162="" class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Academic Details</span>
                </div>
            </div>
            <div class="row mt-2 mb-3">
                <div class="col-3">
                  <label class="form-label">Class <span class="error">*</span></label>
                  <select class="form-select" formControlName="studentClass" (change)="onChangeClass($event)">
                    <option disabled value="select">Select</option>
                    <option *ngFor="let sec of classes" value="{{sec._id}}">{{sec.className}}</option>
                  </select>
                </div>
                <div class="col-3">
                    <label class="form-label">Section <span class="error">*</span></label>
                    <select class="form-select" formControlName="section">
                      <option disabled value="select">Select</option>
                      <option *ngFor="let sec of sections" value="{{sec._id}}">{{sec.name}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <label class="form-label">Year <span class="error">*</span></label>
                    <select class="form-select" formControlName="academicYear">
                      <option disabled value="select">Select</option>
                      <option *ngFor="let day of aceYear" value="{{day._id}}">{{day.name}}</option>
                    </select>
                  </div>
                  <div class="col-3">
                    <label class="form-label">Category <span class="error">*</span></label>
                    <select class="form-select" formControlName="category">
                      <option disabled value="select">Select</option>
                      <option *ngFor="let day of categoryData" value="{{day._id}}">{{day.categoryName}}</option>
                    </select>
                  </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-3">
                    <label class="form-label">Register No <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="registerNo">
                </div>
                <div class="col-3">
                    <label class="form-label">RollNo No <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="rollNo">
                </div>
                <div class="col-3">
                    <label class="form-label">Admission Date <span class="error">*</span></label>
                    <div class="input-group ">
                        <input matInput class="form-control me-3" [matDatepicker]="picker"
                        placeholder="dd-mm-yyyy"  formControlName="admissionDate">
                        <div class="mr-2 tooglePicker">  
                         <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle >
                         </div>
                   <mat-datepicker #picker></mat-datepicker>
                      </div>
                </div>
                <div class="col-3">
                    <label class="form-label">Type <span class="error">*</span></label>
                    <select class="form-select" formControlName="type">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let tdata of typeList" value="{{tdata._id}}">{{tdata.name}}</option>
                      </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 header-txt" >
                    <i _ngcontent-dan-c162="" class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Student Details</span>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-3">
                    <label class="form-label">First Name <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="firstName">
                </div>
                <div class="col-3">
                    <label class="form-label">Last Name <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="lastName">
                </div>
                <div class="col-3">
                    <label class="form-label">Gender <span class="error">*</span></label>
                    <select class="form-select" formControlName="gender">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let genderD of genderList" value="{{genderD._id}}">{{genderD.name}}</option>
                      </select>
                </div>
                <div class="col-3">
                    <label class="form-label">Date Of Birth <span class="error">*</span></label>
                    <div class="input-group ">
                        <input matInput class="form-control me-3" [matDatepicker]="picker2"
                        placeholder="mm-dd-yyyy"  formControlName="dob">
                        <div class="mr-2 tooglePicker">  
                         <mat-datepicker-toggle  matSuffix [for]="picker2"></mat-datepicker-toggle >
                         </div>
                   <mat-datepicker #picker2></mat-datepicker>
                      </div>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-3">
                    <label class="form-label">Blood group <span class="error">*</span></label>
                    <select class="form-select" formControlName="bloodGroup">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let day of bloodGrList" value="{{day._id}}">{{day.name}}</option>
                      </select>
                </div>
                <div class="col-3">
                    <label class="form-label">Mother Tongue <span class="error">*</span></label>
                    <select class="form-select" formControlName="motherTongue">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let day of motherToungLanList" value="{{day._id}}">{{day.name}}</option>
                      </select>
                </div>
                <div class="col-3">
                    <label class="form-label">Religion <span class="error">*</span></label>
                    <select class="form-select" formControlName="religion">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let day of religionList" value="{{day._id}}">{{day.name}}</option>
                      </select>
                </div>
                <div class="col-3">
                    <label class="form-label">Caste <span class="error">*</span></label>
                    <select class="form-select" formControlName="caste">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let day of castList" value="{{day._id}}">{{day.name}}</option>
                      </select>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-3">
                    <label class="form-label">Mobile No <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="mobileNumber">
                </div>
                <div class="col-3">
                    <label class="form-label">Email <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="email">
                </div>
                <div class="col-3">
                    <label class="form-label">City <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="city">
                </div>
                <div class="col-3">
                    <label class="form-label">State <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="state">
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-6">
                    <label class="form-label">Previous School <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="previousSchoolName">
                </div>
                <div class="col-6">
                    <label class="form-label">Previous Qualification <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="previousQualification">
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col-6">
                    <label class="form-label">Present Address <span class="error">*</span></label>
                    <textarea type="text" class="form-control"  rows="3"  formControlName="presentAddress" > </textarea>
                </div>
                <div class="col-6">
                    <label class="form-label">Permanent Address <span class="error">*</span></label>
                    <textarea type="text" class="form-control"  rows="3"  formControlName="permanentAddress" > </textarea>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-12 header-txt" >
                    <i _ngcontent-dan-c162="" class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Upload Document</span>
                </div>
            </div>
                <div class="row mt-3 mb-3">
                    <div class="col-6">
                        <span>Profile Picture</span>
                        <ngx-file-drop [multiple]="false" [directory]="false" (onFileDrop)="onFilesDropped($event, 'image')">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <ng-container *ngIf="!image">
                              Upload  Profile
                                  <a class="p-1 btn btn-link" type="button" (click)="openFileSelector()"> Files</a>
                                </ng-container>
                                <ng-container *ngIf="image">
                                  {{image.name}}
                                  <a class="p-1 btn btn-link" style="color: #F44336;" type="button" (click)="image=null">
                                    Remove
                                  </a>
                                </ng-container>
                            </ng-template>
                          </ngx-file-drop>
                      </div>
                    <div class="col-6">
                        <span>IdCard Document</span>
                        <div class="upload-cont">
                          <ngx-file-drop [multiple]="false" [directory]="false" (onFileDrop)="onFilesDropped($event, 'idCardDocument')">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <ng-container *ngIf="!idCardDocument">
                               drop
                                  <a class="p-1 btn btn-link" type="button" (click)="openFileSelector()"> Files</a>
                                </ng-container>
                                <ng-container *ngIf="idCardDocument">
                                  {{idCardDocument.name}}
                                  <a class="p-1 btn btn-link" style="color: #F44336;" type="button" (click)="idCardDocument=null">
                                    Remove
                                  </a>
                                </ng-container>
                            </ng-template>
                          </ngx-file-drop>
                        </div>
                      </div>
                      
                </div>
            <div class="row" >
                <div class="col-md-12 header-txt" >
                    <i _ngcontent-dan-c162="" class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Guardian Details</span>
                </div>
            </div>
            <ng-container formGroupName="guardian">
            <div class="row mt-3 mb-3" >
                <div class="col-6">
                    <label class="form-label">Name <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="name">
                </div>             
            </div>
            <div class="row mt-3 mb-3" >
                <div class="col-4">
                    <label class="form-label">Relation  <span class="error">*</span></label>
                    <select class="form-select" formControlName="relation">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let sec of relationShipList" value="{{sec._id}}">{{sec.name}}</option>
                      </select>
                </div>
                <div class="col-4">
                    <label class="form-label">Father Name  <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="fatherName">
                </div> 
                <div class="col-4">
                    <label class="form-label">Mother Name  <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="motherName">
                </div>
               
            </div>
            <div class="row mt-3 mb-3" >
                <div class="col-4">
                    <label class="form-label">Occupation <span class="error">*</span></label>
                    <select class="form-select" formControlName="occupation">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let sec of occupationsList" value="{{sec._id}}">{{sec.name}}</option>
                      </select>
                </div>
                <div class="col-4">
                    <label class="form-label">Education <span class="error">*</span></label>
                    <select class="form-select" formControlName="education">
                        <option disabled value="select">Select</option>
                        <option *ngFor="let sec of educationList" value="{{sec._id}}">{{sec.name}}</option>
                      </select>
                </div>       
                <div class="col-4">
                    <label class="form-label">email  <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="email">
                </div>
            </div>
            <div class="row mt-3 mb-3" >
                <div class="col-4">
                    <label class="form-label">Mobile No  <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="mobileNumber">
                </div>  
                <div class="col-4">
                    <label class="form-label">State  <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="state">
                </div>
                <div class="col-4">
                    <label class="form-label">City  <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="city">
                </div>
                
            </div>
            <div class="row mt-3 mb-3" >
                <div class="col-12">
                    <label class="form-label">Permanent address  <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="permanentAddress">
                </div>
            </div>
            <div class="row">
                <div class="row mt-3 mb-3">
                    <div class="col-md-6">    
                        <label>Guardian Proof</label>                    
                          <div class="upload-cont">
                            <ngx-file-drop [multiple]="false" [directory]="false" (onFileDrop)="onFilesDropped($event, 'guardianProf')">
                              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                  <ng-container *ngIf="!guardianProf">
                                 drop
                                    <a class="p-1 btn btn-link" type="button" (click)="openFileSelector()"> Files</a>
                                  </ng-container>
                                  <ng-container *ngIf="guardianProf">
                                    {{guardianProf.name}}
                                    <a class="p-1 btn btn-link" style="color: #F44336;" type="button" (click)="guardianProf=null">
                                      Remove
                                    </a>
                                  </ng-container>
                              </ng-template>
                            </ngx-file-drop>
                          </div>
                    </div>
                    <div class="col-md-6">
                        <label>Guardian Image</label>
                        <ngx-file-drop [multiple]="false" [directory]="false" (onFileDrop)="onFilesDropped($event, 'GuardianImage')">
                            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                                <ng-container *ngIf="!GuardianImage">
                              Upload  Profile
                                  <a class="p-1 btn btn-link" type="button" (click)="openFileSelector()"> Files</a>
                                </ng-container>
                                <ng-container *ngIf="GuardianImage">
                                  {{GuardianImage.name}}
                                  <a class="p-1 btn btn-link" style="color: #F44336;" type="button" (click)="GuardianImage=null">
                                    Remove
                                  </a>
                                </ng-container>
                            </ng-template>
                          </ngx-file-drop>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-12 header-txt" >
                    <i _ngcontent-dan-c162="" class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;<span>Login Details</span>
                </div>
            </div>
            <div class="row mt-3 mb-3" >
                <div class="col-4">
                    <label class="form-label">Username  <span class="error">*</span></label>
                    <input type="text" class="form-control"  formControlName="userName">
                </div>  
                <div class="col-4">
                    <label class="form-label">Password  <span class="error">*</span></label>
                    <input type="password" class="form-control"  formControlName="password">
                </div>                
            </div>
        </ng-container>
            <div class="header-txt col-md-12"></div>
            <div class="row mt-3 mb-3 ">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <button type="button" class="save_button btn" (click)="createInfo(studentForm)" [disabled]="!studentForm.valid">Save</button>
                </div>
              
            </div>
       
        </form>
    </div>
</app-layout>
