
<app-layout>

    <div class="container p-5">
        <!-- <div class="py-2 " style="border: solid;"> -->
        <div class="py-2 ">


<div class="col-12">
<div class="row">
    <div class="col">
        <p>Class<sup class="red">*</sup></p>
        <select class="form-select " aria-label="Default select example">
            <option selected>Select</option>
            <option value="1">Select</option>
            <option value="2">Six</option>
            <option value="3">Seven</option>
        </select>
    </div>
    <div class="col">
        <p>Section</p>
        <select class="form-select  " aria-label="Default select example">
            <option selected>select</option>
            <option value="1">A</option>
            <option value="2">B</option>
            <option value="3">C</option>
        </select>
    </div>
   
    <div class="col-12 text-end px-0 pt-4">

        <div class="button pe-5 pt-1 pb-1"><button type="button"
                class="btn button_color">Filter</button></div>

    </div>
</div>
</div>
</div>

<div class="tab-container">
    <div class="pt-4">
    <p class="table-heading "><b>Invoice List</b></p>
<!-- <div class="container p-4"> -->
 
<div class="top-options">
    <div class="search-area">
      <div class="input-group pe-3">
        <input type="search" class="form-control" placeholder="Search here...">
        <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
      </div>
      <div class="options">
        <button class="btn"><img src="assets/icons/opt-copy.svg"></button>
        <button class="btn"><img src="assets/icons/opt-excel.svg"></button>
        <button class="btn"><img src="assets/icons/opt-pdf.svg"></button>
        <button class="btn"><img src="assets/icons/opt-sheet.svg"></button>
        <button class="btn"><img src="assets/icons/opt-print.svg"></button>
      </div>
    </div>
    </div>
</div>
<!-- </div> -->
<!-- </div> -->




<!--  -->






<!--  -->
<table class="table mt-3">
<thead>
<tr>
  <th scope="col">Student</th>
  <th scope="col"> Class</th>
  <th scope="col">Section</th>
  <th scope="col">Registration</th>
  <th scope="col">Roll</th>
  <!-- <th scope="col">Gender</th> -->
  <th scope="col">Mobile No.</th>
  <th scope="col">Fee Group</th>
  <th scope="col"> Status</th>
  <th scope="col"> Action </th>


</tr>
</thead>
<tbody>
<tr>
  <td>#001234</td>
  <td>Fanny Siregar</td>
  <td>General</td>
  <td>111111</td>
  <td>11</td>
  <td>11</td>

  <td>11</td>

  <td><button class="rounded-pill" [routerLink]="routes.INVOI" routerLinkActive="sub-active">Unpaid</button></td>
  <td><button class="rounded-pill">Collect</button></td>



 
</tr>
</tbody>
</table>
</div>

   
        
      
    </div>



</app-layout>