.lbl-lable{
    color: #444544;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    font-weight: 600;
    padding: 5px;
    vertical-align: top;
}
.value-lable{
    color: #444544;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 5px 5px 5px 20px;
    vertical-align: top;
}